.btn{
  box-sizing: border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#fff;
}
.btn-green{
  background-color:#55cbc4;
}
.btn.btn-green-outline{

  background-color:#fff;
  border:1px solid #55cbc4;
  color:#55cbc4;
}
.btn-blue{
  background-color:#67bfe7;
}
.btn-red{
  background-color:#d70012;
}
.btn-large{
  width:100%;
  height:50px;
  border-radius:5px;
  font-size:18px;
}
.btn-small{
  width:45%;
  height:36px;
  border-radius:4px;
  font-size:18px;
}
.btn.disabled{
  background-color:#d3d3d3;
}


.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis2{
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}

.position-bottom{
  position:fixed;
  bottom:0;
  left:0;
  z-index: 8;
}

.require-icon{
  color:#FF4040;
}


/*右侧浮动字母表*/
.letter_indexes{
  position: fixed;
  top:96px;
  right: 10px;
}
.letter_indexes .letter_indexes_item{
  font-size: 12px;
  color: #222;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 3px;
  border-radius: 50%;
}
.letter_indexes .letter_indexes_item.active{
  color: #fff;
  background-color: #67bfe7;
}

/*手机通讯录好友列表/添加好友搜索结果列表*/

.contacts_name_indexes{
 height: 24px;
 font-size: 12px;
 padding-left: 18px;
 color: #a5a5a5;
 line-height:24px;
}
.contacts_name_indexes.active{
  color: #67c0ea;
}

.contacts_list{
  padding-left: 15px;
  background-color: #fff;
}
.contacts_list .contacts_item{
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.contacts_list .contacts_item:last-child{
  border-bottom: none;
}
.contacts_list .contacts_item .contacts_avatar{
  width: 36px;
  height: 36px;
 margin-right: 18px;
}
.contacts_list .contacts_item .contacts_msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}
.contacts_list .contacts_item .contacts_name{
  color: #222;
  font-size: 16px;
}
.contacts_list .contacts_item .contacts_tumeet{
  margin-top: 4px;
  color:#a2a2a2;
  font-size:14px; 
}
.contacts_list .contacts_item .agreen_btn{
    position: absolute;
    width: 46px;
    height: 30px;
    line-height: 30px;
    color:#fff;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    right: 35px;
    top:50%;
    margin-top: -15px;
    box-shadow: 1px 1px 1px 0 #009601;
}
.out_date_status{
  position: absolute;
  height: 30px;
  line-height: 30px;
  right: 35px;
  top:50%;
  margin-top: -15px;
  font-size: 14px;
  color: #c1c1c1;
}

/*搜索结果文字提示头部*/
.search_result_block{
   background-color: #fff;
   padding-left: 14px;
   margin-bottom: 5px;
 }
 .search_result_cate{
   font-size: 14px;
   color: #777;
   height: 39px;
   line-height: 39px;
   border-bottom: 1px solid #585858;
}




.showIn{
     -webkit-animation: showIn 0.3s;
     animation:showIn 0.3s;
  }
  @keyframes showIn{
      from{
          transform: scale(0.8) translateY(-30%);
          opacity: 0.3;
      }
      to{
          transform: scale(1) translateY(0);
          opacity: 1;
      }
  }